.link_back {
  display: block;
  margin-bottom: 10px;
}

.movie_container {
  display: flex;
  gap: 20px;
  padding-bottom: 8px;
  border-bottom: 2px solid #888;
}

.img_wrap {
  min-width: 250px;
  width: 250px;
}

.content_wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subtitle {
  font-size: 18px;
  font-weight: 500;
}

.more_info {
  padding: 15px 0;
  border-bottom: 2px solid #888;
  margin-bottom: 20px;
}

.more_info ul li:first-child {
  margin-bottom: 10px;
}
